.contentStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.imageStyle {
  width: 100%;
  height: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-color: white;
  object-fit: cover;
}

.lightCardStyle {
  border: 2px solid black;
  min-width: 280px;
  margin: 10px;
  border-radius: 40px;
  overflow: hidden;
}

.darkCardStyle {
  border: 2px solid white;
  min-width: 280px;
  margin: 10px;
  border-radius: 40px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.buttonStyle {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
  background-color: black;
  border-radius: 25px;
  color: white;
  padding: 15px;
  flex-direction: row;
  cursor: pointer;
}

.darkButtonStyle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  cursor: pointer;
}

.iconImg {
  height: 30px;
  margin: 5px;
}

.mainDiv {
  border-style: solid;
  border-color: black;
  height: 700px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 25px;
}
